body {
    text-align: center;
    margin: 0 auto;
}
#calculator {
    width: 365px;
    height:420px;
    margin: 5px auto;
    background-color: rgba(172, 10, 216, 1);
    background-image: radial-gradient(rgba(41, 21, 114, 1),  rgb(36, 2, 46));
    padding: 5px 5px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
}   
#screen {
    width: 335px;
    height: 50px;
    background-color: rgba(41, 21, 114, 1);
    color: rgba(178, 216, 41, 1);
    font-size: 40px;
    text-align: right;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
}
.calcButton {
    width:60px;
    float: left;
    height: 40px;
    margin: 5px;
    background-color: rgba(172, 10, 216, 1);
    color:  rgba(178, 216, 41, 1);
    padding: 10px;
    box-shadow: 2px 2px;
    font-family: 'Luckiest Guy', cursive;
    border-radius: 5px;
    font-size: 20px
}

.op {
    background-color: rgba(43, 140, 130, 1);
}
#equal {
    background-color: rgba(43, 140, 130, 1);
}
#equal:hover {
    background-color: yellow;
}
.calcButton:hover { 
    background-color: yellow;
  }


/* Color Theme Swatches in RGBA */
.Beer-Label---IPA-Series---Cervejaria-Overall-1-rgba { color: rgba(172, 10, 216, 1); }
.Beer-Label---IPA-Series---Cervejaria-Overall-2-rgba { color: rgba(46, 5, 63, 1); }
.Beer-Label---IPA-Series---Cervejaria-Overall-3-rgba { color: rgba(41, 21, 114, 1); }
.Beer-Label---IPA-Series---Cervejaria-Overall-4-rgba { color: rgba(43, 140, 130, 1); }
.Beer-Label---IPA-Series---Cervejaria-Overall-5-rgba { color: rgba(178, 216, 41, 1); }


